$screen-width-xs: 475px;
$screen-width-sm: 640px;
$screen-width-md: 768px;
$screen-width-lg: 1024px;
$screen-width-xl: 1280px;
$screen-width-2xl: 1536px;

$header-bg-color: #222276;
$header-border-color: lighten($header-bg-color, 15%);
$header-txt-color: #caced1;
$header-txt-color-dimmed: darken($header-txt-color, 15%);

$body-bg-color: #e1e1ea;
$body-border-color: darken($body-bg-color, 20%);
$body-txt-color: black;
$body-txt-color-dimmed: $header-txt-color-dimmed;

@mixin respond($screen-width) {
  // Screen width XS
  @if ($screen-width == min-xs) {
    @media (min-width: $screen-width-xs) {
      @content
    }
  }
  @if ($screen-width == max-xs) {
    @media (max-width: $screen-width-xs) {
      @content
    }
  }

  // Screen width SM
  @if ($screen-width == min-sm) {
    @media (min-width: $screen-width-sm) {
      @content
    }
  }
  @if ($screen-width == max-sm) {
    @media (max-width: $screen-width-sm) {
      @content
    }
  }

  // Screen width MD
  @if ($screen-width == min-md) {
    @media (min-width: $screen-width-md) {
      @content
    }
  }
  @if ($screen-width == max-md) {
    @media (max-width: $screen-width-md) {
      @content
    }
  }

  // Screen width LG
  @if ($screen-width == min-lg) {
    @media (min-width: $screen-width-lg) {
      @content
    }
  }
  @if ($screen-width == max-lg) {
    @media (max-width: $screen-width-lg) {
      @content
    }
  }

  // Screen width XL
  @if ($screen-width == min-xl) {
    @media (min-width: $screen-width-xl) {
      @content
    }
  }
  @if ($screen-width == max-xl) {
    @media (max-width: $screen-width-xl) {
      @content
    }
  }

  // Screen width 2XL
  @if ($screen-width == min-2xl) {
    @media (min-width: $screen-width-2xl) {
      @content
    }
  }
  @if ($screen-width == max-2xl) {
    @media (max-width: $screen-width-2xl) {
      @content
    }
  }
}

@mixin flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
