@if (contactDataVCardModel) {
  <div class="container">

    <div class="header">
      <div class="name-wrapper">
        <div class="name">{{ contactDataVCardModel.name.formattedName }}</div>

        @if (contactDataVCardModel.title) {
          <div class="title">{{ contactDataVCardModel.title?.title }}</div>
        }

        @if (contactDataVCardModel.nickname) {
          <div class="nickname">{{ contactDataVCardModel.nickname?.nickname }}</div>
        }
      </div>

      <div class="header-btn-container">
        @if (contactDataVCardModel?.primaryPhone?.phoneNumber) {
          <div class="header__btn-wrapper">
            <a [href]="getPrimaryPhoneHref()" target="_blank">
              <svg-general
                [type]="SvgTypes.CALL"
                [size]="2.5"
                [title]="SvgTypes.CALL"
              />
              call
            </a>
          </div>
        }

        @if (contactDataVCardModel?.primaryEmail?.email) {
          <div class="header__btn-wrapper">
            <a [href]="getPrimaryEmailHref()" target="_blank">
              <svg-general
                [type]="SvgTypes.SEND"
                [size]="2.5"
                [title]="SvgTypes.MAIL"
              />
              email
            </a>
          </div>
        }

        @if (contactDataVCardModel?.primaryAddress?.formattedAddress) {
          <div class="header__btn-wrapper">
            <a [href]="getPrimaryAddressHref()" target="_blank">
              <svg-general
                [type]="SvgTypes.LOCATION"
                [size]="2.5"
                title="Directions"
              />
              directions
            </a>
          </div>
        }
      </div>

    </div>

    @if (contactDataVCardModel.organization || contactDataVCardModel.title) {
      <div class="">
        <svg-general
          [type]="SvgTypes.WORK"
          [size]="2.5"
          [title]="SvgTypes.WORK"
        />

        <div>
          @if (contactDataVCardModel.organization) {
            <span>{{ contactDataVCardModel.organization?.organization }}</span>
          }
          @if (contactDataVCardModel.title) {
            <span>{{ contactDataVCardModel.title?.title }}</span>
          }
        </div>
      </div>
    }

    @if (isArrayNotEmpty(contactDataVCardModel.phoneNumbers)) {
      <div class="">
        <svg-general
          [type]="SvgTypes.CALL"
          [size]="2.5"
          [title]="SvgTypes.CALL"
        />

        <div class="">
          @for (phone of contactDataVCardModel.phoneNumbers; track phone.phoneNumber) {
            <div class="">
              <span class="">
                {{ phone.phoneNumber }}
              </span>
              <span class="">
                {{ phone.typeToString }}
              </span>
            </div>
          }
        </div>
      </div>
    }

    @if (isArrayNotEmpty(contactDataVCardModel.emails)) {
      <div class="">
        <svg-general
          [type]="SvgTypes.MAIL"
          [size]="2.5"
          title="Email"
        />

        <div class="">
          @for (email of contactDataVCardModel.emails; track email.email) {
            <div class="">
              <span class="">
                {{ email.email }}
              </span>
              <span class="">
                {{ email.typeToString }}
              </span>
            </div>
          }
        </div>
      </div>
    }

    @if (isArrayNotEmpty(contactDataVCardModel.addresses)) {
      <div class="">
        <svg-general
          [type]="SvgTypes.LOCATION"
          [size]="2.5"
          [title]="SvgTypes.LOCATION"
        />

        <div class="">
          @for (address of contactDataVCardModel.addresses; track address.formattedAddress) {
            <div class="">
              <span class="">
                {{ address.formattedAddress }}
              </span>
              <span class="">
                {{ address.typeToString }}
              </span>
            </div>
          }
        </div>
      </div>
    }

    @if (contactDataVCardModel.webpage) {
      <div>
        <svg-general
          [type]="SvgTypes.INTERNET"
          [size]="2.5"
          [title]="SvgTypes.INTERNET"
        />

        <div>
          <span>
            {{ contactDataVCardModel.webpage.webpage }}
          </span>
          <span>
            Website
          </span>
        </div>
      </div>
    }

  </div>
} @else {
  LOADING...
}
