@import "globals";

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

svg.header-svg-button-icon {
  fill: $header-txt-color;
}

svg.body-svg-icon {
  fill: $header-txt-color-dimmed;
}
